body {
    font-family: Arial;
    background-image: url('https://img.freepik.com/free-vector/gradient-technological-background_23-2148884155.jpg?w=900&t=st=1712941572~exp=1712942172~hmac=13867fc693431dcd638652b0d8a343cc760b95092872c2923812e787d563f4ec'); /* Replace with the URL of your background image */
    background-size: cover;
    background-position: center;
}

.main {
    padding: 20px;
    box-shadow: 5px 5px 7px 5px #8888;
    background-color: rgba(255, 255, 255, 0.7); /* Add opacity to make the container semi-transparent */
}

.main h1 {
    font-size: 36px;
    text-align: center;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #764776;
}

input[type=submit] {
    width: 100%;
    background-color: #764776;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}
